# Força LF como terminador de linha padrão
* text=auto eol=lf

# Linguagens
*.tf linguist-language=HCL
*.yml linguist-language=YAML
*.go linguist-language=Go
*.drawio linguist-language=XML

# Markdown
*.md text